<div class="row">
        <div class="col-md-5">
            <app-quote (createQuote)="createNewQuote($event)"> </app-quote>
        </div>
        <br>
        <div class="col-md-7">
            <div class="jumbotron" *ngFor="let quot of quotes;let i= index">
                <h3>Quote: {{quot.quote}}</h3>
                <p>Author name:{{quot.author}}</p>

                <p>Submitted by: {{quot.person}}</p>
                <p>Created {{quot.dateCreated| timeCount}}</p>
 
                <div class="row">
                        <div class="col-md-6">
                          <button class="btn btn-success" name="up" (click)="this.upVotes()">Like{{quot.upVotes}}</button>
                        </div>
                        <div class="col-md-6">
                              <button class="btn btn-warning" name="down" (click)="this.downVotes()">Dislike{{quot.downVotes}}</button>
                              </div>
                              <br>
                              <div class="row">
                      <div class="col-md-12">
                            <button class="btn btn-danger" (click)="deleteQuote(true)">Delete Quote</button>
                        </div>
                    </div>
                  
            
            </div>
        </div>
    </div>
      