<div class="row">
        <div class="col-md-5">
            <app-quote (createQuote)="createNewQuote($event)"> </app-quote>
        </div>
        <br>
        <div class="col-md-7">
            <div class="jumbotron" *ngFor="let Quote of quotes;let i= index">
                <h3>Quote: {{Quote.quote}}</h3>
                <p>Author name:{{Quote.author}}</p>
                <p>Submitted by: {{Quote.person}}</p>
                <p>Created {{Quote.dateCreated| timeCount}}</p>
                <app-quotedetails></app-quotedetails>
                <app-quotedetails *ngIf='showDetails' [quotes]='Quote' (complete)='deleteQuote($event,i)'></app-quotedetails>
            
            </div>
        </div>
    </div>
      