 
 <div class="row">
      <div class="col-md-6">
        <button class="btn btn-success" name="up" (click)="upVotes(i)">Like{{Quote.upVote}}</button>
      </div>
      <div class="col-md-6">
            <button class="btn btn-warning" name="down" (click)="downVotes(i)">Like{{Quote.downVote}}</button>
            </div>
            <br>
            <div class="row">
    <div class="col-md-12">
          <button class="btn btn-danger" (click)="deleteQuote(true)">Delete Quote</button>
      </div>
  </div>

