 
 <!-- <div class="row">
      <div class="col-md-6">
        <button class="btn btn-success" name="up" (click)="upVote()">Like {{quotes.upVotes}}</button>
      </div><br>
      <div class="col-md-6">
            <button class="btn btn-warning" name="down" (click)="downVote()">Dislike {{quotes.downVotes}}</button>
            </div>
            <br>
            <div class="row">
    <div class="col-md-12">
          <button class="btn btn-danger" (click)="deleteQuote(true)">Delete Quote</button>
      </div>
  </div> -->
  <!-- <button class="btn btn-warning" name="down" (click)="downVote()">Dislike{{quot.downvote}}</button>
  <button class="btn btn-danger" (click)="deleteQuote()">Delete Quote</button> -->
