<div style="text-align:center">
</div >
<div>
  <h1 class="animated tada" >QUOTE</h1>
</div>
<div class="jumbotron">
<form>
<div class="form-group">
  <label for="formGroupYourName" style=" color:white;" >Author</label>
  <input type="text" class="form-control" id="formGroupYourName" placeholder="Author">
</div>
</form>
<form>
  <div class="form-group">
    <label for="formGroupQuote" style=" color:white;">Quote</label>
    <input type="text" class="form-control" id="formGroupQuote" placeholder="Quote" >
  </div>
</form>
<button class="btn btn-outline-light"> SUBMIT</button>
</div>